<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="keywords" content="pacey{% if page.keyword %},{{ page.keyword }}{% endif %}">
<meta name="description" content="{{ site.description }}">
<title>{{ page.title }}</title>
<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
<link rel="bookmark" href="{{ site.baseurl }}/images/favicon.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/base.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/main.css">
